<div class="flex flex-col h-full">
<ul class="space-y-2 px-4 mb-auto">
  @if (!isAdmin){
    <li>
      <a routerLink="halls"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Hale
      </a>
    </li>
    @if (isSupervisor) {
    <li>
      <a routerLink="management"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Zarządzanie
      </a>
    </li>
    }@else{
      <li>
      <a routerLink="management"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Dodawanie
      </a>
    </li>
    }
    <li>
      <a routerLink="receipts"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Przyjęcia
      </a>
    </li>
    <li>
      <a routerLink="issues"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Wydania
      </a>
    </li>
    <li>
      <a routerLink="search"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Wyszukaj
      </a>
    </li>
    <li>
      <a routerLink="product-history"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Historia produktów
      </a>
    </li>
    @if (isSupervisor) {
      <li>
        <a routerLink="contractors"
          routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
          class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
          Kontrahenci
        </a>
      </li>
      <li>
      <a routerLink="inventory"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Inwentaryzacja
      </a>
      </li>
    }
  }@else{
    <li>
      <a routerLink="users"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Użytkownicy
      </a>
    </li>
    <li>
      <a routerLink="help-request"
        routerLinkActive="font-bold text-orange-700 border-b-4 border-orange-600"
        class="bg-gray-300 block py-2 px-2 rounded transition hover:bg-white hover:text-orange-700 cursor-pointer text-center">
        Zgłoszenia pomocy
      </a>
    </li>
  }
</ul>
  @if (isSupervisor) {
    <div class="mt-auto px-4 pb-8">
      <button 
        (click)="downloadReport()"
        class="text-xs text-gray-500 px-4 py-2 rounded border border-gray-300 bg-gray-100 hover:bg-gray-200 transition cursor-pointer flex items-center gap-2"
        style="box-shadow: none;"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2M7 10l5 5 5-5M12 15V3" />
        </svg>
        Pobierz raport stanu magazynu
      </button>
    </div>
  }
</div>
